ADMIN_PASSWORD=
JWT_SECRET=

# Cloudinary (almacenamiento de imagenes/videos en WebP)
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Vercel Blob (almacenamiento de datos JSON en produccion)
BLOB_READ_WRITE_TOKEN=
